body{
    width: 100vw;
    height: 1500px;
    margin: 0 auto;
        
    header{
        
        width: 100%;
        height: 6%;
        background-color: aqua;
        margin: 0px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:flex-start;
        align-content: center;

        .titulo_1{
            order: 0;
            margin: 5%;
            font-size: 2rem;
        }
    }





}